.customer-details {
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 10px;
    font-family: 'Rubik', sans-serif;
  }
  
  .details-row {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .details-label {
    font-weight: bold;
    font-size: 16px;
    text-align: right;
  }
  
  .details-value {
    font-size: 16px;
    text-align: right;
  }
  