.customer-search-container {
  position: relative;
  width: 100%;
}

.customer-search {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  background-color: var(--color-4);
  border-radius: 10px;
  padding: 5px 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-input {
  flex-grow: 1;
  border: none;
  outline: none;
  font-size: 14px;
  color: #555;
  background: transparent;
  padding: 5px 10px;
  direction: rtl; /* For Hebrew text */
}

.search-input::placeholder {
  color: #aaa;
  font-size: 14px;
  font-family: "Rubik";
}

.search-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  color: #555;
  font-size: 16px;
  margin-left: 10px;
}

.search-button:hover {
  color: #333;
}

.loading {
  margin-top: 5px;
  color: #999;
  font-size: 12px;
}

.suggestions-dropdown {
  position: absolute;
  top: 45px;
  left: 0;
  right: 0;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000;
  padding: 0;
  list-style: none;
}

.suggestion-item {
  padding: 8px 10px;
  cursor: pointer;
  color: #333;
  border-bottom: 1px solid #eee;
}

.suggestion-item:hover {
  background-color: #f0f0f0;
}
