.customer-details {
  display: grid;
  flex-direction: row;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  background-color: var(--color-4);
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.details-row {
  display: flex;
  position: relative;
  flex-direction: row;
  margin: 5px 0;
}

.details-label {
  font-weight: bold;
  font-size: 16px;
}

.details-value {
  font-size: 16px;
  position: absolute;
  right: 120px;
  text-align: right;
}

.details-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
