.app-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-4);
  color: rgb(80, 80, 80, 0.5);
  text-align: center;
  padding: 8px 0;
  font-size: 13px;
  font-weight: 400;
  z-index: 1000;
}

.app-footer p {
  margin: 0;
}
