/* Header.css */
.header {
    text-align: right;
    background: rgb(219,210,210);
    background: linear-gradient(48deg, rgba(219,210,210,1) 0%, rgba(162,155,155,1) 100%);
    padding: 10px 50px 0 50px;
    font-weight: bold;
    font-size: 15px;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
    flex-direction: row-reverse;
    padding: 0;
    margin: 10px 0 0;
    gap: 1rem;
  }
  
  .nav-item {
    background-color: rgb(217, 217, 217);
    width: 170px;
    padding: 5px;
    color: #fff;
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
    align-items: center;
    border-radius: 5px 5px 0 0;
    justify-content: center; 
  }
  
  .nav-item.active {
    background-color: white; /* Or any other color you want for the active tab */
    color: rgb(181, 178, 178); /* Optional: make the text color of the active tab distinct */
  }